<div class="container-fluid">
  <div class="row">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="table-responsive user-info">
        <div class="training-contents">
          <h2>研修内容情報</h2>
          <div class="training-content"><%= "実施日：#{@training.training_date}" %></div>
          <div class="training-content"><%= "研修生氏名：#{@trainee.last_name}#{@trainee.first_name}" %></div>
          <div class="training-content"><%= "カテゴリー：#{@training.training_category.name}" %></div>
          <div class="training-content"><%= "詳細：#{@training.content}" %></div>
          <div class="training-content"><%= "担当者：#{@trainer.last_name}#{@trainer.first_name}" %></div>
        </div>
        <% if current_user.id == @trainer.id %>
          <div class="">
            <div class="training-edit-btn">
              <%= link_to "編集", edit_training_path(@training), class:"training-btn" %>
            </div>
            <div class="training-delete-btn">
              <%= link_to "削除", training_path(@training),method: :delete, data: { confirm: '削除しますか'}, class:"training-btn" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="training-comments">
        <% if user_signed_in? %>
          <%= form_with(model: [@training, @training_comment], local: true, class:"training-comments-form") do |form| %>
            <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
            <%= form.submit "送信" %>
          <% end %>
        <% else %>
          <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
        <% end %>
      </div>
      <div class="training-return-btn">
        <%= link_to "戻る", trainings_path, class:"training-btn" %>
      </div>
    </main>
  </div>
</div>