  <head>
    <link href="../stylesheets/users/signup.css" rel="stylesheet">
  </head>
<body class="text-center">
  <main class="form-signin">
    <h2>ユーザー情報編集</h2>
    <div class="form-signin">
      <%= form_with model: @user, local: true do |f| %>
        <%= render "shared/error_messages", model: f.object %>
        <div class="form-floating">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"Email" %>
        </div>

        <div class="form-floating">
          <%= f.label :employee_number %><br />
          <%= f.text_field :employee_number, class: "form-control", placeholder: "社員番号"%>
        </div>

        <div class="form-floating">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, class: "form-control", placeholder: "苗字" %>
        </div>

        <div class="form-floating">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, class: "form-control", placeholder: "名前" %>
        </div>

        <div>
          <%= f.submit "更新" %>
        </div>
      <% end %>
    </div>
  </main>
</body>