<!DOCTYPE html>
<html>
  <head>
    <title>TrainingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=devise-width, initial-scale=1.0">
  </head>
  <% if user_signed_in? %>
    <%= render "trainings/header_second" %>
  <% else %>
    <%= render "trainings/header" %>
  <% end %>
  <body>
    <%= yield %>
  </body>
</html>
